<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button click-once type="button" class="close" data-dismiss="modal" ng-click="modalClose()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" >Add Lead</h4>
    </div>
    <div class="modal-body">
        <form name="leadForm" novalidate ng-submit="createLead()" >   
            <div class="row" >
                <div class="form-group col-md-6">
                    <core-input-label text="Name" required ></core-input-label>
                    <input ng-model="lead.name" required class="form-control" name="name" type="text"/>
                    <small class="has-error" ng-show="leadForm.name.$error.required && leadForm.submitted">Name is required.</small>
                </div>
                <div class="form-group col-md-6">
                    <core-input-label text="NAICS" ></core-input-label>
                    <input ng-model="lead.naicsCode" class="form-control" name="naics" type="text"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <core-input-label text="Address" required></core-input-label>
                    <input type="text" required ng-model="lead.address.address1" ng-blur="validateAddress(lead.address)" name="address" maxlength="100" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                    <small class="has-error" ng-show="leadForm.address.$error.required && leadForm.submitted">Address is required.</small>
                </div>

                <div class="form-group col-sm-6">
                    <core-input-label text="Address 2" ></core-input-label>
                    <input type="text" ng-model="lead.address.address2" name="address2" ng-blur="validateAddress(lead.address)" maxlength="100" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <core-input-label text="City" required></core-input-label>
                    <input type="text" required ng-model="lead.address.city" name="city" ng-blur="validateAddress(lead.address)" maxlength="100" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                    <small class="has-error" ng-show="leadForm.city.$error.required && leadForm.submitted">City is required.</small>
                </div>

                <div class="form-group col-sm-4">
                    <core-input-label text="State" required></core-input-label>
                    <core-select-states required ng-model="lead.address.state" name="state" ng-blur="validateAddress(lead.address)" class="form-control ng-pristine ng-invalid ng-invalid-required" ></core-select-states>
                    <small class="has-error" ng-show="leadForm.state.$error.required && leadForm.submitted">State is required.</small>
                </div>

                <div class="form-group col-sm-4">
                    <core-input-label text="Zip Code" required></core-input-label>
                    <input type="text" placeholder="23451" required ng-model="lead.address.zip" ng-blur="validateAddress(lead.address)" name="zip" maxlength="5" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                    <small class="has-error" ng-show="leadForm.zip.$error.required && leadForm.submitted">Zip Code is required.</small>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <core-input-label text="Lives On Benefits"></core-input-label>
                    <input type="text" ng-model="lead.groupSize" name="groupSize" maxlength="100" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                </div>

                <div class="form-group col-sm-6">
                    <core-input-label text="Website" ></core-input-label>
                    <input type="text" ng-model="lead.website" name="address2" maxlength="100" class="form-control ng-pristine ng-invalid ng-invalid-required" >
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <core-input-label text="Phone Numbers" ></core-input-label>
                    <hr />
                    <core-phone-number-list phone-numbers="lead.phoneNumbers" form="leadForm" ></core-phone-number-list>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <button click-once type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
                <div class="col-xs-12 text-center">
                    <p class="has-error" ng-show="message != undefined">{{message}}</p>
                </div>
            </div>

            <br style="clear: both;" />
            <div class="row">
                <div class="loading" ng-hide="!loading"></div>
            </div>
        </form>
    </div>
</div>