<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button click-once type="button" class="close" data-dismiss="modal" ng-click="modelClose()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" >Manage Filters</h4>
    </div>
    <div class="modal-body">
        <form name="filterForm" novalidate ng-submit="addCondition()" > 
            <div class="row">
                <div class="form-group col-md-6">
                    <core-input-label text="Name" required ></core-input-label>
                    <input ng-model="filter.name" class="form-control" name="name" type="text"/>
                    <small class="has-error" ng-show="filterForm.name.$error.required && filterForm.submitted">Name is required.</small>
                </div>
                <div class="form-group col-md-6"></div>
            </div>

        <div class="row">
            <div class="form-group col-md-4">
                <core-input-label text="Column" required ></core-input-label>
                <select name="column" class="form-control" required ng-model="filter.column" ng-options="item.display for item in columns" ></select>
                <small class="has-error" ng-show="filterForm.column.$error.required && filterForm.submitted">Column is required.</small>
            </div>
            <div class="form-group col-md-4">
                <core-input-label text="Operator" required ></core-input-label>
                <select class="form-control" name="operator" required ng-model="filter.operator" ng-options="item.display for item in operators" ></select>
                <small class="has-error" ng-show="filterForm.operator.$error.required && filterForm.submitted">Operator is required.</small>
            </div>
            <div class="form-group col-md-4">
                <core-input-label text="Value" required ></core-input-label>
                <input ng-model="filter.value" required class="form-control" name="value" type="text"/>
                <small class="has-error" ng-show="filterForm.operator.$error.required && filterForm.submitted">Value is required.</small>
            </div>
        </div>

        <div class="row">
            <button type="submit" >Add Condition</button>
        </div>
    </form>

        <div ng-show="filterColumns.length > 0"  class="row">
            <div class="form-group col-md-12">
                <table class="table table-hover table-striped" >
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Operator</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in filterColumns"  >
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary pull-right" >Save</button>
                <button type="button" class="btn btn-primary pull-right margin-right-10" >Set as Default</button>
                <br style="clear: both;" />
                <div class="loading" ng-hide="!loading"></div>
            </div>            
        </div>
            
        
    </div>
</div>